.wrapper-page {
    background: #ffffff;
    padding: 25px 25px 30px;
    position: relative;
    border-radius: 2px;
}

.efficiency-table-wrap {
    border: 1px solid #cfd3dc;
    border-radius: 2px;
    color: #32394a;
    margin: 0 auto 40px;
    min-width: 875px;
}

.efficiency-table-wrap thead {
    background: #edeff4;
}

.efficiency-table-wrap thead td {
    padding: 15px 10px;
}

.efficiency-table-wrap thead td:first-child {
    padding-left: 20px;
}

.efficiency-table-wrap thead td:last-child {
    padding-right: 20px;
}

.efficiency-table-wrap tbody td {
    padding: 20px 10px;
    vertical-align: top;
}

.efficiency-table-wrap tbody td:first-child {
    padding-left: 20px;
}

.efficiency-table-wrap tbody td:last-child {
    padding-right: 20px;
}

.efficiency-table-item .year-order {
    display: block;
    margin-top: 5px;
}

.efficiency-table-wrap tbody tr {
    border-bottom: 1px solid #cfd3dc;
}

.efficiency-table-wrap tbody tr:last-child {
    border-bottom: 0;
}

.efficiency-table-thead {
    padding: 15px;
    background: #edeff4;
}

.efficiency-table-item .percentage-orders {
    background: #edeff4;
    border-radius: 3px;
    font-size: 13px;
    min-width: 36px;
    text-align: center;
    height: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.efficiency-table-item .count-all {
    color: #595c65;
    margin-bottom: 15px;
}

.efficiency-table-item .count-all span {
    font-weight: bold;
    color: #595c65;
}

.efficiency-table-item .count-all .new-installers {
    font-weight: 600;
    color: #388edc;
}

.efficiency-table-item .new-installers {
    background: #edeff4;
    color: #388edc;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 5px;
    margin-left: 5px;
}

.efficiency-table-info {
    padding: 12.5px 15px;
    background: #fafafb;
    border: 1px solid #cfd3dc;
    border-radius: 3px;
    font-size: 13px;
    color: #595c65;
}

.efficiency-table-info .efficiency-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3px;
}

.efficiency-table-info .efficiency-info-item p {
    margin-bottom: 0;
}

.efficiency-table-info .efficiency-info-item:last-child .percentage-orders {
    color: #ffffff;
    background: #ec9c11;
    border: 0;
}

.efficiency-table-info .efficiency-info-item.green p {
    color: #b4c046;
}

.efficiency-table-info .efficiency-info-item.green p span {
    color: #595c65;
}

.efficiency-table-item a {
    color: #595c65;
}

.efficiency-table-item a:hover {
    text-decoration: underline;
}

.efficiency-table-item.new-order-item p {
    margin-bottom: 10px;
}

.efficiency-table-item.new-order-item p .active-order {
    display: inline-block;
    background: #a2b219;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 8px;
    font-weight: 600;
    margin: 0 3px 0 5px;
}

.efficiency-table-item.new-order-item p .percentage-orders {
    position: relative;
    border: 1px solid #cfd3dc;
    margin-left: 10px;
}

.efficiency-table-item.new-order-item p .percentage-orders:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 50%;
    left: -5px;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
    border: 1px solid #edeff4;
    background: #edeff4;
    border-color: #cfd3dc #cfd3dc transparent transparent;
}

.efficiency-table-item.new-order-item .efficiency-table-info {
    margin-bottom: 12px;
}

.efficiency-table-item.new-order-item .count-all {
    margin-bottom: 0;
    font-size: 13px;
}

.efficiency-table-item.message-item .efficiency-table-info p {
    margin-bottom: 10px;
}

.efficiency-table-item.message-item .efficiency-table-info p:last-child {
    margin-bottom: 0;
}

.efficiency-table-page .container {
    background: transparent;
}

.efficiency-table-page .main-title {
    font-size: 30px;
    line-height: 36px;
    color: #32394a;
    margin-bottom: 20px;
}

.efficiency-table-page .accept-btn {
    text-align: center;
}

.efficiency-table-page .accept-btn a {
    padding: 0 59px;
    height: 45px;
    line-height: 45px;
}

.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
    -ms-touch-action: auto;
    touch-action: auto;
}

.mCustomScrollBox {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.mCustomScrollBox.mCSB_vertical_horizontal {
    -ms-touch-action: auto;
    touch-action: auto;
}

.mCustomScrollBox.mCSB_horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools.mCSB_1_scrollbar {
    bottom: 25px;
    height: 27px;
    border: 1px solid #cfd3dc;
    border-radius: 2px;
    background: #edeff4;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    display: none;
}

.mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 15px !important;
}

.mCSB_scrollTools .mCSB_dragger {
    margin: 3.5px auto;
    height: 18px;
    border-radius: 2px;
    background: #d5d8e0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    height: 18px;
}

.mCSB_dragger {
    position: relative;
}

.mCSB_dragger:before {
    position: absolute;
    content: url(../images/custom-scroll-icon.png);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mCSB_scrollTools {
    position: relative;
}

.mCSB_scrollTools:after {
    position: absolute;
    content: url(../images/custom-scroll-arrow.png);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7px;
}

.mCSB_scrollTools:before {
    position: absolute;
    content: url(../images/custom-scroll-arrow.png);
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    right: 7px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    margin: 0 20px;
}

.accept-btn a, .accept-btn button {
    border: 0;
    outline: none;
    cursor: pointer;
    background: #388edd;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
}

@media (max-width: 992px) {
    .efficiency-table-page .container {
        padding: 10px 0 0;
    }
    .efficiency-table-page .container .main-title {
        padding: 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .cabinet-page-wrap.efficiency-table-page {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .wrapper-page {
        padding: 20px 10px;
    }
}