.projectHeader{
    margin-bottom: 32px;
}

.container{
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.container:after{
    clear: both;
    display: block;
    content: "";
}

#content{
    padding: 50px 20px 30px;
    background-color: white;
}

.projectHeader{
    margin-bottom: 32px;
    padding: 0 20px;
}

.projectHeader h1{
    font-size: 36px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.projectStatus{
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    padding-left: 0;
    padding-right: 32px;
    background-position: right center;
}

.label_status{
    margin-right: 10px;
}

[class*="site_icon"] a {
    text-decoration: none;
    color: #212121;
    transition: color .2s linear;
}

.site_icon-status_checking{
    background-image: url(../images/status-moderation.png);
}

.site_icon-status_rejected{
    background-image: url(../images/status-refused.png);
}

.site_icon-status_considering{
    background-image: url(../images/status-consideration.png);
    padding-left: 30px;
}

.site_icon-status_in_progress{
    background-image: url(../images/status-runs.png);
}

.site_icon-status_done{
    background-image: url(../images/status-done.png);
}

.site_icon-status_closed{
    background-image: url(../images/status-canceled.png);
}

.site_icon-status_canceled{
    background-image: url(../images/status-canceled.png);
}

.site_icon-reviews {
    background-image: url(../images/chat.png);
}

.contentBlock:not(:last-child){
    margin-bottom: 48px;
}

.contentBlock.bordered > .container, .bordered > div:first-child{
    width: 96%;
    padding: 0;
    border: 1px solid #9bc3d6;
    padding: 30px;
}

.contentBlock.bordered > .container > h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 21px;
}

.contentBlock > .container > h3{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #3b7d9c;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contentBlock.noborderTitle > .container > h3{
    border-bottom: 0;
}

.contentBlock > .container > h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contentBlock ul{
    margin-left: 30px;
    margin-bottom: 30px;
}

.contentBlock ul li{
    font-size: 16px;
    line-height: 1.5;
}

.contentBlock ul li:not(:last-child){
    margin-bottom: 15px;
}

.client_comment {
    padding-left: 47px;
    background: url(../images/ico-client-comment.png) no-repeat 0 5px;
}

.client_comment h4 {
    font-size: 20px;
}

.clientDatas > div:not(:first-child) {
    margin-top: 6px;
}

.clientDatas [class*="site_icon"] {
    height: 32px;
    line-height: 32px;
    padding-left: 32px;
    font-size: 16px;
}

.clientDatas a {
    color: #212121;
    text-decoration: underline;
}

.clientDatas a:hover {
    text-decoration: none;
}

.listOfApp{
    margin-top: 60px;
}

.site_icon-person{
    background-image: url(../images/person.png);
}

.site_icon-phone_gray{
    background-image: url(../images/phone-gray.png);
    min-height: 32px;
    padding-left: 40px;
}

.site_icon-mail_gray{
    background-image: url(../images/mail-gray.png);
}

.site_icon-location {
    background-image: url(../images/location.png);
    background-position: 0 2px;
}

.app-item{
    border-bottom: 1px solid #9bc3d6;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.app-item-author{
    padding-bottom: 7px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 15px;
}

.app-item-author_info{
    padding-left: 87px;
    position: relative;
    float: left;
    width: 80%;
    min-height: 82px;
}

.app-item-author_img{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
}

.app-item-author_img img{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ccc;
    font-size: 10px;
    word-break: break-all;
}

.app-item-author_info h3{
    float: left;
    width: 100%;
    max-width: 40%;
    padding-right: 15px;
}

.app-item-author_info h3 a{
    color: #212121;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.app-item-price{
    width: 20%;
    max-width: 150px;
    float: right;
    position: relative;
    padding-top: 36px;
    font-size: 16px;
}

.app-item-price span{
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.app-item-reviews{
    padding-top: 4px;
    float: left;
    margin-right: 50px;
    font-size: 12px;
    padding-left: 30px;
}

.app-item-loc{
    float: left;
    width: 100%;
    padding-top: 7px;
    font-size: 12px;
    padding-left: 25px;
}

.app-item-content{
    position: relative;
}

.app-item-content h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.app-item-content p{
    line-height: 1!important;
    font-size: 16px;
    margin-bottom: 25px;
}

@media screen and (max-width:767px){
    .app-item-author_info > *:not(.app-item-author_img){
        width: 100%;
        float: none;
    }

    .app-item-author_info h3{
        margin-bottom: 10px;
    }

    .app-item-author_info > h3{
        margin-bottom: 2px;
    }

    .app-item-author_info > h3 ~ div{
        margin: 2px 0;
    }
}

@media screen and (min-width:767px){
    .app-item-price{
        text-align: right;
    }

    .app-item.app-selected .app-item-content{
        padding-right: 240px;
        position: relative;
    }

    .leaveFeedback{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 767px){
    .app-item-price{
        font-size: 14px;
    }

    #applicationsList h1{
        font-size: 21px;
    }

}

@media screen and (max-width:500px){
    .app-item-author_info, .app-item-price{
        width: 100%;
        float: none;
    }

    .app-item-price{
        margin-top: 15px;
    }
}

.textCenter{
    text-align: center!important;
}

/* buttons */
[class*="site_button"]{
    display: inline-block;
    height: 48px;
    line-height: 45px;
    border: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 3px!important;
    -webkit-appearance: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    min-width: 200px;
    transition: all .2s linear;
    padding: 0 20px;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;

    /* default settings */
    background: #333;
    border-bottom-color: #232323;
}

[class*="site_button"].onlyBorder{
    line-height: 42px;
}

[class*="site_button"].button-small{
    height: 36px;
    line-height: 32px;
    font-size: 14px;
    min-width: 0;
    padding: 0 30px;
}

.iconButton{
    width: 24px!important;
    height: 24px!important;
    background-position: center!important;
    padding: 0!important;
}

.site_button-orange{
    background: #ea6c21;
    border-bottom-color: #b54b1a;
}

.site_button-orange.onlyBorder{
    background: none;
    border: 3px solid #ea6c21;
    color: #212121;
}

[class*="site_button"]:hover, [class*="site_button"]:active{
    background: #ddd;
    border-bottom-color: #ccc;
    color: #aaa;
}

.site_button-orange.onlyBorder:hover, .site_button-orange.onlyBorder:focus, .site_button-orange.onlyBorder:active{
    background: none;
    border-color: #ccc;
    color: #ccc;
}

[class*="site_button"].site_button-transparent{
    border: 0!important;
    background: none !important;
    color: #ea6c21;
    text-align: left;
    position: relative;
    padding-left: 30px!important;
    line-height: 48px;
    transition: none!important;
    margin-left: 15px;
    width: auto!important;
    min-width: 0!important;
}

[class*="site_button"].site_button-transparent.back-button:before{
    position: absolute;
    width: 16px;
    height: 26px;
    background-image: url(../images/arrow_back.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    display: block;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

[class*="site_button"].site_button-transparent.back-button:hover{
    color: #aaa;
}

[class*="site_button"].site_button-transparent.back-button:hover:before{
    background-position: 0 -26px;
}

/* end buttons */

@media screen and (min-width: 767px){
    .mobileShow{
        display: none;
    }
    .mobileHide{
        display: block;
    }
}

@media screen and (max-width: 767px){
    .mobileShow{
        display: block;
    }
    .mobileHide{
        display: none;
    }
}

/* setApplication */
#setApplication{}

#setApplication > h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.setApplicationBlock:not(:first-child){
    margin-top: 24px;
}

.setApplicationBlock{
    padding: 20px 30px;
    background: #f3f3f3;
}

.setApplicationBlock > div{
    padding-left: 110px;
    position: relative;
}

.setApp-price{
    position: absolute;
    width: 70px;
    top: 0;
    left: 0;
}

.setApp-price .field{
    position: relative;
}

.setApp-price strong{
    position: absolute;
    right: -14px;
    top: 7px;
}

.label{
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.setApplicationBlock input{
    width: 100%;
    text-align: center;
    height: 36px;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    font-size: 14px;
}

.setApp-desc{
    width: 100%;
}

.setApp-desc textarea{
    padding: 15px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid #3b7d9c;
    box-shadow: inset 0 1px 3px 0 rgba(0, 53, 78, 0.6);
    font-size: 14px;
}

#setApplication .checkboxChoices{
    margin: 0;
}

#setApplication .checkboxChoices{
    max-width: 370px;
    margin: 30px 0 10px 0;
}

.appDifference{
    position: relative;
    z-index: 100;
    display: inline-block;
}

.appDifference a{
    display: inline-block;
    min-height: 22px;
    font-size: 12px;
    color: #727272;
    text-decoration: none;
    padding-left: 24px;
    position: relative;
    padding-top: 1px;
}

.appDiffDesc{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    border: 1px solid #ccc;
    background:#fff;
    font-size: 12px;
    display: none;
}

@media screen and (min-width: 767px){
    .appDifference:hover .appDiffDesc{
        display: block;
    }
}

.appDiffDesc div:not(:first-child){
    margin-top: 15px;
}

.appDifference a:before{
    content: "?";
    width: 16px;
    height: 16px;
    border: 1px solid #3b7d9c;
    border-radius: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.sumarnaVartist{
    margin-top: 32px;
}

.sumarnaVartist h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}

.comissionBlock{
    color: #727272;
}

.comissionBlock a{
    color: #727272;
}

.comissionBlock a.open_tooltip {
    margin-left: 10px;
    padding-left: 22px;
    background: url(../images/ic-question-light-16-x-16-copy-3.png) no-repeat left center;
    position: relative;
    width: 16px;
    display: inline-block;
    height: 16px;
    top: 2px;
}
.comissionBlock a.open_tooltip:hover .tooltip_info {
    display: block;
}

.buttonsWrapper{
    padding-top: 48px;
}

.clr{
    clear: both;
}

.clr:after{
    clear: both;
    display: block;
    content: "";
}

.checkboxChoices{
    max-width: 376px;
    margin: 0 auto 55px auto;
    height: 32px;
    position: relative;
}

.checkboxChoices label{
    cursor: pointer;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 10;
}

#leaveTestimonials-type label{
    padding: 0 58px;
}

.checkboxChoices label div{
    position: relative;
    border: 1px solid #9bc3d6!important;
    border-radius: 3px;
}

.checkboxChoices label span{
    display: block;
    float: left;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 50%;
}

.checkboxChoices label span:first-child{
    margin-left: -1px;
}

.checkboxChoices label span:last-child{
    right: -2px;
}

.checkboxChoices input[type="checkbox"]{
    position: absolute;
    left: -10000px;
}

.checkboxChoices input[type=checkbox]:not(:checked) + label span:first-child{
    background: #ea6c21;
    color: #fff;
}

.checkboxChoices input[type=checkbox]:checked + label span:last-child{
    background: #ea6c21;
    color: #fff;
}

.clr > .checkboxChoices{
    float: left;
}

@media screen and (max-width: 500px){
    .checkboxChoices{
        height: auto;
    }

    #leaveTestimonials-type:before, #leaveTestimonials-type:after{
        display: none;
    }

    .checkboxChoices label span:first-child{
        margin-left: 0;
    }

    .checkboxChoices label span:last-child{
        right: 0!important;
    }

    .checkboxChoices label span{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .setApplicationBlock > div{
        padding-left: 0;
    }

    .setApp-price{
        position: relative;
        margin-bottom: 15px;
    }
}
/* end setApplication */

@media screen and (min-width: 767px){
    .listOfApp .app-item-content{
        padding-right: 300px!important;
    }
    .container{
        width: 100%;
        padding: 0 20px;
    }
    h2{
        font-size: 24px;
    }

    body{
        font-size: 14px;
    }
    .projectHeader[class*="projectCat"] > .container{
        padding-left: 200px;
        min-height: 160px;
    }

    [class*="projectCat"] > .container{
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-top: 33px;
    }

    .projectCat-commercial > .container, .cost_header-commercial{
        background-image: url(../images/station-solar.png);
    }

    .projectCat-roof > .container, .cost_header-commercial {
        background-image: url(../images/station-roof.png);
    }

    .projectCat-ground > .container, .cost_header-commercial {
        background-image: url(../images/station-ground.png);
    }

    .cost_header-roof {
        background-image: url(../images/station-roof.png);
    }

    .cost_header-ground {
        background-image: url(../images/station-ground.png);
    }

    .projectCat-hybrid > .container, .cost_header-hybrid{
        background-image: url(../images/station-hybrid.png);
    }

    .projectCat-network > .container, .cost_header-network{
        background-image: url(../images/station-network.png);
    }

    .projectCat-autonomous > .container, .cost_header-autonomous{
        background-image: url(../images/station-offline.png);
    }

    .projectCat-private > .container, .cost_header-private{
        background-image: url(../images/pic-privat-house.png);
    }

    .projectCat-osbb > .container, .cost_header-osbb{
        background-image: url(../images/pic-osbb.png);
    }

    .projectCat-commerce > .container, .cost_header-commerce{
        background-image: url(../images/pic-trade-office.png);
    }

    .projectCat-municipal > .container, .cost_header-municipal{
        background-image: url(../images/pic-budget.png);
    }

    .projectCat-industrial > .container, .cost_header-industrial{
        background-image: url(../images/pic-factory.png);
    }

    .projectCat-waste_sorting_line > .container, .cost_header-waste_sorting{
        background-image: url(../images/pic-garbage-sorting.png);
    }
    .cost_header_garbage {
        background: url(../images/pic-garbage-audit.png) left top no-repeat;
    }

    .additionalBlock{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -18px;
    }

}

@media screen and (min-width: 1025px) {
    .block-montage > .container > div {
        position: relative;
    }

    .projectMap {
        /*
        position: absolute;
        top: 0px;
        right: 0px;*/
        width: 50%;
        height: 384px;
        float: right;
    }

    #projectMap {
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .projectMap {
        width: 100%;
        height: 384px;
        margin-bottom: 30px;
    }

    #projectMap {
        height: 100%;
    }

    .clientSpecialist > div {
        width: 100%;
        padding-left: 0px;
        padding-top: 161px;
        min-height: 144px;
    }

    .clientSpecialist > div {
        margin-bottom: 30px;
    }

    .clientSpecialist > div:nth-child(1), .clientSpecialist > div:nth-child(2) {
        float: none;
    }
}

@media screen and (max-width: 767px) {
    .projectMap {
        height: 280px;
    }

    .projectHeader h1 {
        font-size: 24px;
    }

    .contentBlock.bordered > .container > h2 {
        font-size: 21px;
    }

    .contentBlock.bordered > .container {
        padding: 15px;
    }

    .contentBlock ul li, .contentBlock h5, .contentBlock p {
        font-size: 14px;
    }
}